body {
  margin: 100px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: pink;
  transition-duration: 500ms;
  transition-property: background;
  transition-timing-function: ease-in-out;
  transition-delay: 2s;
}

.box:hover {
  background-color: green;
  transform: rotate(45deg);
}
